:root {
  --size: 0;
}

body {
  background-color: var(--clr-main-background);
  display: grid;
  place-items: center;
  color: var(--clr-main-text);

  --clr-main-background: #e6bb9e;
  --clr-title-text: #29524a;
  --clr-main-text: #f6f5f4;
  --clr-functional-buttons-text: #f3f7f0;
  --clr-text1: #b50353;
  --clr-tile-text: #f3f7f0;

  --clr-functional-buttons: #7d7abc;
  --clr-main-button-hover: #593c8f;
  --clr-main-button-active: #9b70ff;

  --clr-tile-unlocked: #84a98c;
  --clr-zero-tile-unlocked: #3b8ea5;
  --clr-tile-unlocked-border: #003d1f;

  --clr-tile-locked: #196076;
  --clr-tile-locked-border: #f3f7f0;
  --clr-tile-locked-hover: #2489a8;
  --clr-tile-locked-active: #f2545b;

  --clr-zero-tile-locked: #f2545b;
  --clr-zero-tile-locked-hover: #f3686f;

  --clr-answer-display: #878787;
  --clr-answer-boxes: #196076;
  --clr-answer-value-border: #f3f7f0;
  --clr-next-move: #f2545b;

  --clr-input-background: #98fb98;
  --clr-input-border: #6b8e23;

  --clr-input-border-invalid: #800000;
  --clr-input-background-invalid: #fa8072;
  --clr-input-border-valid: #6b8e23;
  --clr-input-background-valid: #98fb98;
}

body.dark {
  --clr-main-background: #343232;
  --clr-title-text: #ffffffd7;
  --clr-main-text: #ffffffd7;
  --clr-functional-buttons-text: #ffffffd7;
  --clr-text1: #ffffffd7;
  --clr-tile-text: #ffffffd7;

  --clr-functional-buttons: #1c1b1b;
  --clr-main-button-hover: #393939;
  --clr-main-button-active: #393939;

  --clr-tile-unlocked: #394280;
  --clr-tile-unlocked-border: #3f0f04;
  --clr-zero-tile-unlocked: #912929;

  --clr-tile-locked: #682a2c;
  --clr-tile-locked-border: #271919;
  --clr-tile-locked-hover: #742f31;
  --clr-tile-locked-active: #742f31;

  --clr-zero-tile-locked: #255d6c;
  --clr-zero-tile-locked-hover: #286475;

  --clr-answer-display: #095a5a;
  --clr-answer-boxes: #682a2c;
  --clr-answer-value-border: #271919;
  --clr-next-move: #255d6c;

  --clr-input-border: #6b8e23;
  --clr-input-background: #98fb98;

  --clr-input-border-invalid: #802b2b;
  --clr-input-background-invalid: #b05e55;
  --clr-input-border-valid: #267b31;
  --clr-input-background-valid: #4ca84c;
}

.title {
  text-align: center;
  color: var(--clr-title-text);
  font-size: 1.2rem;
}

label {
  margin-bottom: 8px;
}

input {
  background-color: var(--clr-input-background);
  border: 2px var(--clr-input-border) solid;
  border-radius: 20%;
  outline: none;
  width: 40px;
  height: 20px;
  text-align: center;
  font-size: 16px;
}

.size-input-container {
  display: grid;
  place-items: center;
  color: var(--clr-text1);
  font-weight: 550;
}

.board {
  display: grid;
  justify-content: center;
  margin: 10px;
  grid-template-rows: repeat(var(--size), 75px);
  grid-template-columns: repeat(var(--size), 75px);
}

button:hover {
  cursor: pointer;
  transform: translate(0px, -3px);
  -webkit-transform: translate(0px, -3px);
  box-shadow: 0px 1px 0px 0px;
  background-color: var(--clr-main-button-hover);
}

button:active {
  transform: translate(0px, 3px);
  -webkit-transform: translate(0px, 3px);
  box-shadow: 0px 1px 0px 0px;
  background-color: var(--clr-main-button-active);
}

.tile,
.locked-tile,
.zero-tile,
.locked-zero-tile {
  color: var(--clr-tile-text);
  margin: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-tile-unlocked);
  font-size: 1.8rem;
  border: 2px var(--clr-tile-unlocked-border) solid;
}

.zero-tile {
  background-color: var(--clr-zero-tile-unlocked);
}

.locked-tile {
  background-color: var(--clr-tile-locked);
  border-radius: 10%;
  border: 2.5px var(--clr-tile-locked-border) solid;
}

.locked-tile:hover {
  background-color: var(--clr-tile-locked-hover);
}

.locked-tile:active {
  background-color: var(--clr-tile-locked-active);
}

.locked-zero-tile {
  background-color: var(--clr-zero-tile-locked);
  border-radius: 10%;
  border: 2.5px var(--clr-tile-locked-border) solid;
}

.locked-zero-tile:hover {
  background-color: var(--clr-zero-tile-locked-hover);
}

.functions-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.scramble-button,
.lock-button,
.solver-button,
.play-solution-button,
.blank-button,
.size-button,
.mode-switch-button {
  background-color: var(--clr-functional-buttons);
  color: var(--clr-functional-buttons-text);
  border: 2px var(--clr-functional-buttons-text) solid;
  font-size: 0.9rem;
  font-weight: 550;
}

.scramble-button,
.lock-button,
.solver-button,
.play-solution-button,
.blank-button {
  min-width: 120px;
  white-space: nowrap;
  min-height: 40px;
  border-radius: 20%;
}

.size-button {
  width: 75px;
  height: 30px;
  border-radius: 20%;
  margin-left: 5px;
}

.answer-container {
  display: flex;
}

.display-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  max-width: 294px;
  font-size: 1.25rem;
  overflow: hidden;
  max-height: 147px;
}

.answer-value {
  display: grid;
  place-items: center;
  float: left;
  min-width: 45px;
  min-height: 45px;
  background-color: var(--clr-answer-boxes);
  border: 2px var(--clr-answer-value-border) solid;
  border-radius: 10%;
}

#pos0.answer-value {
  font-size: 2rem;
  background-color: var(--clr-next-move);
}

.moves-left {
  display: inline;
  margin-left: 10px;
  font-weight: 550;
  float: right;
  color: var(--clr-text1);
}

.status-display {
  display: grid;
  place-items: center;
  color: var(--clr-text1);
  font-size: 1.5rem;
  font-weight: 600;
}

.mode-switch-button {
  min-width: 50px;
  border-radius: 20%;
}

.mode-switch-button:hover {
  cursor: pointer;
  transform: none;
  -webkit-transform: none;
  box-shadow: none;
  background-color: var(--clr-functional-buttons);
}

.mode-switch-s:active {
  transform: none;
  -webkit-transform: none;
  box-shadow: none;
  background-color: var(--clr-functional-buttons);
}
