:root {
  --size: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
}

.size-selector {
  display: flex;
  justify-content: center;
}

.board {
  background-color: rgba(135, 206, 235);
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(var(--size), 50px);
  grid-template-columns: repeat(var(--size), 50px);
  margin: 20px;
}

.tile {
  background-color: rgb(255, 255, 51);
  text-align: center;
}

.temp-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.scramble-button .lock-button, .solve-button{
  width: auto;
  height: 20px;
}
